<% provide(:title, "About") %>


<h1>About Discover Hockey</h1>
<p>
  Discover Hockey is a site designed for hockey card enthusiasts. 
  Optionally, site users can link to 
  <a href="http://stores.ebay.ca/Garrison-Hockey-Cards/Vancouver-Canucks-/_i.html?_fsub=20625816" target="_blank">
    Garrison Cards</a> on eBay to buy, sell or trade cards.
</p>

<p>
  The site extends concepts learned from completing:
<ul>
  <li>The Ruby on Rails Tutorial</li>
  <li>The RailsGuide Blog Tutorial</li>
</ul>

It is very much a work in progress ...
</p>

<p>Discover Hockey App - Rob Anderson, January 2015</p>

<%= image_tag "turris-coyotes.jpg" %>

