<% provide(:title, "About") %>

<div class="center">
  <h1>About Discover Hockey</h1>

  <h3>
    <%= link_to "Discover Hockey", root_path %> is a site designed for hockey card enthusiasts. 
    Optionally, site users can link to 
    <a href="http://stores.ebay.ca/Garrison-Hockey-Cards/Vancouver-Canucks-/_i.html?_fsub=20625816" target="_blank">Garrison Cards</a>
    on eBay to buy, sell or trade cards.
  </h3>



<div class="center jumbotron">
  <%= image_tag "turris-coyotes.jpg" %>
</div>

  <p>
    The site extends concepts learned from the <a href="http://www.railstutorial.org" target="_blank">Ruby on Rails Tutorial</a>, RailsGuide Blog and related resources.
  </p>
  <p>
    It is very much a work in progress ...
  </p>

</div>