<% provide(:title, "Home") %>

<h1><a href="http://www.ebay.ca/itm/Kevin-Bieksa-Rookie-Card-478-UD-Young-Guns-05-06-Vancouver-/151528552537" target="_blank">
Kevin Bieksa</a> - Vancouver</h1>
<p><a href="/static_pages/about.html">About Discover Hockey</a></p>
<%= image_tag "bieksa-canucks.jpg" %>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>