<% provide(:title, 'Sign up') %>

<div class="center">
  <h1>Welcome!</h1>
  <h4>Accepting new sign ups beginning February 1, 2015</h4><br/>
  
  <div class="center jumbotron">
    <%= image_tag "linden-canucks.jpg" %>
  </div>
  
</div>
