<% provide(:title, @person.name) %>

<!-- <%= @person.name %>, <%= @person.email %>  -->

<div class = "row">
  <aside class = "col-md-4">
    <section class = "person_info">
      <h1>
        <%= gravatar_for @person %>
        <%= @person.name %>
      </h1>
      
    </section>
    
  </aside>

</div>

