<footer class="footer">
  <p>
    Discover Hockey App - Rob Anderson, January 2015
  </p>

  <nav>
    <ul>
      <li><%= link_to "About Discover Hockey", about_path %></li>
      
    </ul>
  </nav>
  
  
</footer>